* {
    margin: 0;
    padding:0;
    text-align:center;
}

body {
    background-color:#E3B5A4;
}

h1 {
    height: 4rem;
    font-size: 3.5rem;
    background-color: #0B0014;
    color: #ffffff;
    margin: 1px 1px 3rem 1px;
}

.calculator {
    margin: auto;
    background-color: #F5E9E2;
    height: 30rem;
    width: 25rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.display {
    height:5rem;
    width:84%;
    background-color: white;
    border-radius: 0.5rem;
    font-size: 2rem;
    padding-right: 0.8rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#keyboard {
    height:5rem;
    width:100%;
    border:none;
    font-size:2rem;
    text-align: right;
}

.buttons {
    margin: 0.5rem;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    justify-content: center;
}

#button {
    height:3rem;
    width:5rem;
    line-height: 3rem;
    background-color: white;
    border-radius:1rem;
    color: black;
}

#button:hover {
    background-color: #D44D5C;
    cursor: pointer;
}

.clear, .basic, .numbers, .equal {
    font-size: 2rem;
}

.extracal {
    font-size: 1.5rem;
}

p {
    margin: 1rem;
}